# Supabase Configuration
REACT_APP_SUPABASE_URL=https://pdxndfqyizzvnxfxzez.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkeG5kZnF5aXp6dm54Znh6ZXoiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTc0ODYzNzc1MiwiZXhwIjoyMDY0MjEzNzUyfQ.-4YmzVf77e4YmGGyx3vp9-CDXwso5X83vFyGleQM 